@model FindHousingProject.Web.ViewModels.HousingViewModel
@using FindHousingProject.Common.Constants

@{
    ViewData["Title"] = "Details";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Datepicker - Select a Date Range</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
        {
            <text>
            $(document).ready(function() {
                alert('@ViewData.ModelState["Error"].Errors.First().ErrorMessage');
            });
            </text>
        }
    </script>
</head>
<body>
    <div class="col-md-7">
        <h1>Details</h1>
        <hr />
        <div class="table">
            <h2 style="color:blue; text-align:center">@Model.Name</h2>
            <input type="hidden" asp-for="Id" />
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Place)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Place)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)$
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </dl>
            <div class="info">
                <p class="name"><a>Description: </a>@Model.Description</p>
            </div>
            <div class="Scenery" style="text-align:center">
                @if (Model.Scenery != null)
                {
                    <img class="scale" style='max-width:200px;border-radius:40px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Scenery))" alt="Housing">
                }
                else
                {
                    <img style='max-width:160px' src="https://i.pinimg.com/originals/76/68/3c/76683c4fb69b9e720660359ad6ee4047.png" alt="Housing">
                }
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
    @if (Model.User?.Role != RolesConstants.OwnerRole)
    {
        <div class="search-boxDetails">
            <div class="search-box-title">@Html.DisplayFor(model => model.Price)$</div>
            <form class="search-form" asp-controller="Reservation" asp-action="Reservation">
                <input type="hidden" asp-for="Id" name="Id" />
                <input type="hidden" asp-for="Price" name="PricePerDay" />
                <div>
                    <div class="search-box-dates">
                        <label class="search-box-label" for="search-bar">DATES</label>
                        <div class="DateRangePicker DateRangePicker_1">
                            <div>
                                <div class="DateRangePickerInput DateRangePickerInput_1 DateRangePickerInput__withBorder DateRangePickerInput__withBorder_2">
                                    <div class="DateInput DateInput_1">
                                        <input class="DateInput_input DateInput_input_1" aria-label="Check in" type="text" id="from" name="CheckIn" placeholder="Check in" autocomplete="off" aria-describedby="DateInput__screen-reader-message-check_in" value="">
                                    </div>
                                    <div class="DateRangePickerInput_arrow DateRangePickerInput_arrow_1" aria-hidden="true" role="presentation">
                                        <svg class="DateRangePickerInput_arrow_svg DateRangePickerInput_arrow_svg_1" focusable="false" viewBox="0 0 1000 1000">
                                            <path d="M694.4 242.4l249.1 249.1c11 11 11 21 0 32L694.4 772.7c-5 5-10 7-16 7s-11-2-16-7c-11-11-11-21 0-32l210.1-210.1H67.1c-13 0-23-10-23-23s10-23 23-23h805.4L662.4 274.5c-21-21.1 11-53.1 32-32.1z">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="DateInput DateInput_1">
                                        <input class="DateInput_input DateInput_input_1" aria-label="Check out" type="text" id="to" name="CheckOut" placeholder="Check out" autocomplete="off" aria-describedby="DateInput__screen-reader-message-check_out" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="search-box-label">
                        GUESTS<select class="listing-show-guest-dropdwn">
                            <option value="1" default="">1 guest</option>
                            <option value="2">2 guests</option>
                            <option value="3">3 guests</option>
                            <option value="4">4 guests</option>
                            <option value="5">5 guests</option>
                            <option value="6">6 guests</option>
                            <option value="7">7 guests</option>
                            <option value="8">8 guests</option>
                            <option value="9">9 guests</option>
                            <option value="10">10 guests</option>
                        </select>
                    </label>
                </div>
                <div>
                    <button class="btn btn-primary">Reservation</button>
                </div>
            </form>
        </div>}
</body>
@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}
