@model IEnumerable<FindHousingProject.DAL.Entities.Housing>

@{
    ViewData["Title"] = "Index";
}

<h1>Owner's Housing</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scenery)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @if (item.Scenery != null)
                    {
                        <img style='max-width:70px;max-height:70px' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Scenery))">
                        <div>Не равно null</div>
                    }
                    else
                    {
                        <img style='max-width:70px;max-height:70px' src="https://i.pinimg.com/originals/76/68/3c/76683c4fb69b9e720660359ad6ee4047.png">
                        <div>Равно null</div>
                    }
                </td>
                <td>
                    <!-- <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |-->
                    @Html.ActionLink("Edit", "Edit", new { housingId = item.Id })|
                    @Html.ActionLink("Details", "Details", new { housingId = item.Id })|
                    @Html.ActionLink("Delete", "Delete", new { housingId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
