@model IEnumerable<FindHousingProject.DAL.Entities.Reservation>

@{
    ViewData["Title"] = "Reservation";
}

<h1>Your reservations:</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Housing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>